---
---

// h1, h2, etc
$section-headings-color: #82a2a7;

@import"{{ site.theme }}";

$breakpoint-tablet: 768px;

.home-button {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;

  img {
    width: 50px;
    vertical-align: middle;
  }

  h3 {
    color: inherit;
    display: inline;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

footer {
  display: none !important;
}

.page-header {
  color:#222;
  background-color:#b2d2d7;
  background-image:none
}

.main-content {
  max-width: 900px;
}

.app-store-button {
  img {
    width: 175px;
  }
}

.btn {
  color: #555;
  background-color: rgba(255,255,255,0.5);

  &:hover {
    color: #333;
  }
}
