---
---

// h1, h2, etc
$section-headings-color: #82a2a7;

@import"{{ site.theme }}";

.home-button {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;

  a {
    text-decoration: none;
    color: initial;
  }

  img {
    width: 50px;
    vertical-align: middle;
  }

  h3 {
    color: inherit;
    display: inline;
  }
}

footer {
  display: none !important;
}

.page-header {
  color:#222;
  background-color:#b2d2d7;
  background-image:none
}

.main-content {
  text-align: center;
  max-width: 900px;
}

.app-store-button {
  width: 175px;
}

.btn {
  color: #555;
  background-color: rgba(255,255,255,0.5);

  &:hover {
    color: #333;
  }
}
