---
---

// h1, h2, etc
// See: https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss
$section-headings-color: #729297;

@import"{{ site.theme }}";

$breakpoint-tablet: 768px;

.home-button {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;

  img {
    width: 75px;
    vertical-align: middle;
  }
}

footer {
  text-align: center;
}

.page-header {
  color:#222;
  background-color:#b2d2d7;
  background-image:none
}

.main-content {
  max-width: 900px;
}

.app-store-button {
  img {
    width: 150px;
  }
}

.btn {
  color: #555;
  background-color: rgba(255,255,255,0.5);

  &:hover {
    color: #333;
  }
}
